
<h1>About Me</h1>
<div class='row'>
    <div class='col-md-4 offset-md-1'>
        <p>I am a 27 year old web developer in the east bay. I primarily code in ruby and typically using Rails, however I built this website with Roda. 
        I've recently been developing the front end of my websites in Vue.js with Vuetify. And have been utilizing Go for many backend services. Although Ruby
        is still my first love.</p>
    </div>
</div>