<script src="https://unpkg.com/marked@0.3.6"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>
<div id="editor">
&nbsp; <p />
&nbsp; <p />
    <div class='row' >
        <div class='col-md-1'>
        </div>
        <div class='col-md-8 '>
            <p><div id='mainTitle' v-html="compiledMarkdown"></div></p>
        </div>
        
        <div class='col-md-3' id="subTitle">
            <textarea id='form' class="form-control" rows='30':value="input" @input="update"></textarea>
        </div>
    </div>
</div>
&nbsp; <p />
&nbsp; <p />
<script>
  new Vue({
    el: '#editor',
    data: {
      input: "# About Me \n " + 
      "&nbsp;   \n  " +
      "I'm Caleb, a 27 year old full time developer in the east bay. "+
      "I primarily use Ruby (it's my favorite) but I've also recently adopted Golang for a lot of backend work. "+
      "And it's been quite a pleasure to work with.  \n Much of my frontend work is a "+
      "combination of Bootstrap CSS libraries and Vue.js components. For example, this page is entirely editable. Try it for yourself!  \n  " + 
      "### Hobbies \n  " + 
      "&nbsp; \n " +
      "I love photography. I mostly take photos of nature, " + 
      "but I also like doing city landscapes and the occasional photoshoot for my friends. Some of my favorite work can be found on my [unsplash](https://unsplash.com/@caleb_woods) page. \n "+
      "Photography has the nice added benefit of me being my own content creator. Which means if I'm in need of a particular visual that's hard to find, "+
      "I can just make it myself.   \n " +
      "&nbsp; \n " +
      "I also love reading. Novels, fantasy, history, philosophy, etc. It doesn't matter what kind of book it is, I'll read it. " +
      "Most recently I've been struck by Russian literature. Dostoyevsky to be exact. " + 
      "&nbsp; \n " ,

    },
    computed: {
      compiledMarkdown: function () {
        return marked(this.input, { sanitize: true })
      }
    },
    methods: {
      update: _.debounce(function (e) {
        this.input = e.target.value
      }, 300)
    }
  });
</script>
