
<h1>Contact</h1
<div class='row'>
    <div class='col-md-4 offset-md-1'>
        <p>You can connect with me on <a href="https://www.linkedin.com/in/caleb-woods-9041aa137">Linked In</a> 
        or email me at <a href="mailto:woodscaleb@gmail.com">woodscaleb@gmail.com</a></p>
    </div>
</div>