

&nbsp; <p />
&nbsp; <p />
&nbsp; <p />


<div class='row'>
    <div class='col-md-4'>
    </div>
    <div class='col-md-4'>
        <h1 class='text-center' id="mainTitle" style="font-weight: 300 !important"> I design and develop web applications to help you achieve your goals</h1>
        &nbsp; <p />
        <hr 4 />
    </div>
</div>



&nbsp; <p />
<div class='row'>
    <div class='col-md-4'>
    </div>
    <div class='col-md-4 text-center'>
        <a class="btn btn-lg navbar-inverse" style="color:white" href="/myWork">My Work</a>
    </div>
</div>
</div>
&nbsp; <p />
&nbsp; <p />
&nbsp; <p />
&nbsp; <p />
&nbsp; <p />
&nbsp; <p />
<div class='container-fluid navbar-inverse' style='color:white;'>
    &nbsp; <p />
    &nbsp; <p />
    &nbsp; <p />
    <div class='container text-center'>
        <div class='row'>
            <h2 id="subTitle" style="font-weight: 300 !important">Skills</h2>
        </div>
        <div class='row'>
            <h3 id='subTitle' style="font-weight:200">Ruby, Rails, Vue.js, Postgresql, HTML, CSS, Javascript, Docker, AWS, Heroku
        </div>
    </div>
    &nbsp; <p />
    &nbsp; <p />
    &nbsp; <p />
</div>

&nbsp; <p />
&nbsp; <p />
<div class='container'>
    <div class='row'>
        <div class="col-md-12 text-center">
            <h2>Contact</h2>
        </div>
        &nbsp; <p />
    </div>
    <div id="subTitle" class='row'>
        <div class='col-md-4'>
        </div>
        <div class='col-md-4'>
            <form>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="first_name">Name</label>
                  <input type="text" class="form-control" id="first_name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
                </div>
                &nbsp; <p />
                <button type="submit" class="btn btn-info pull-right">Submit</button>
            </form> 
        </div>
    </div>
</div>
&nbsp; <p />
&nbsp; <p />
&nbsp; <p />