

&nbsp; <p />
&nbsp; <p />
&nbsp; <p />


<div class='row'>
    <div class='col-md-4'>
    </div>
    <div class='col-md-4'>
        <h1 class='text-center' id="mainTitle" style="font-weight: 300 !important"> I design and develop web applications to help you achieve your goals</h1>
        &nbsp; <p />
        <hr 4 />
    </div>
</div>



&nbsp; <p />
<div class='row'>
    <div class='col-md-4'>
    </div>
    <div class='col-md-4 text-center'>
        <a class="btn btn-lg navbar-inverse" style="color:white" href="/myWork">My Work</a>
    </div>
</div>
</div>
&nbsp; <p />
&nbsp; <p />
&nbsp; <p />
&nbsp; <p />
&nbsp; <p />
&nbsp; <p />
<div class='container-fluid navbar-inverse' style='color:white;'>
    &nbsp; <p />
    &nbsp; <p />
    &nbsp; <p />
    <div class='container text-center'>
        <div class='row'>
            <h2 id="subTitle" style="font-weight: 300 !important">The Process</h2>
        </div>
    </div>
    &nbsp; <p />
    &nbsp; <p />
    &nbsp; <p />
</div>