<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Roda Website</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css" >
    <script src="/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    
  </head>
  <body>
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 navbar-header pull-left" >
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <div class="col-lg-4 hidden-xs hidden-sm hidden-md">
                <ul class="nav navbar-nav">
                    <li><a href='/myWork'>My Work</a></li>
                    <li><a href='/skills'>Skills</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="navbar-header pull-right col-lg-4 hidden-lg hidden-xl">
                <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
                    <img src='/images/menu.png' width="35px" style='padding-top:10px; margin-bottom:-5px' />
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href='/myWork'>My Work</a></li>
                    <li><a href='/skills'>Skills</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
  </nav>
    <div id="content" class="container">
      <%= yield %>
    </div>
    <div class='container-fluid navbar-inverse text-center' style='color:white;'>
    &nbsp; <p />
        <div class='row'>
            <div class="col-md-4">
            </div>
            <div class="col-md-4" style='filter: invert(100%);'>
                <a href='https://github.com/cwoo107'><img src="/images/GitHub.png" width="40" /></a> &nbsp;
                <a href='https://www.linkedin.com/in/caleb-woods-9041aa137'><img src="/images/linkedin-brands.svg" width="40" /></a> &nbsp;
                <a href='https://www.facebook.com/caleb.woods.106'><img src="/images/facebook-square-brands.svg" width="40" /></a> &nbsp;
                <a href='https://www.instagram.com/calebwoods92/'><img src="/images/instagram-brands.svg" width="40" /></a> 
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4'>
            </div>
            <div class='col-md-4'>
                <ul class="nav navbar-nav" style="display: inline-block !important; float: none !important;">
                    <li><a href='/myWork'>My Work</a></li>
                    <li><a href='/skills'>Skills</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    &nbsp; <p />
    &nbsp; <p />
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>

<style>
body{
    color: #303030;
}
.navbar-inverse {
    background-image: linear-gradient(to bottom right, #383838, #181818);
}
p {
    font-family: Avenir, Helvetica Neue, Helvetica, sans-serif ;
}
h3 > a {
  position: relative;
  color: #303030;
  text-decoration: none !important;
}

h3 > a:hover {
  color: #303030;
}
h3 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #303030;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
h3 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
h2 > a {
  position: relative;
  color: #F5F5F5;
  text-decoration: none !important;
}

h2 > a:hover {
  color: #F5F5F5;
}
h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F5F5F5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
h2 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#form {
    background-image: linear-gradient(to bottom right, #F5F5F5, white);
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                0 2px 2px rgba(0,0,0,0.11), 
                0 4px 4px rgba(0,0,0,0.11), 
                0 8px 8px rgba(0,0,0,0.11), 
                0 16px 16px rgba(0,0,0,0.11), 
                0 32px 32px rgba(0,0,0,0.11);
}

.btn {
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                0 2px 2px rgba(0,0,0,0.11), 
                0 4px 4px rgba(0,0,0,0.11), 
                0 8px 8px rgba(0,0,0,0.11), 
                0 16px 16px rgba(0,0,0,0.11), 
                0 32px 32px rgba(0,0,0,0.11);
}

#subTitle {
    -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}
#mainTitle {
    -webkit-animation: fadein 1.5s; 
       -moz-animation: fadein 1.5s; 
        -ms-animation: fadein 1.5s; 
         -o-animation: fadein 1.5s; 
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
</style>
<script>
  new Vue({
  el: '#app',
  data: {
    info: null,
  }
});
</script>